/* *******************  COMMENTE  *******************

----------------------FEATURED IN-------------------

*******************  COMMENTE  ******************* */

.section-featured {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.heading-featured-in {
  text-align: center;
  margin: 4.8rem 0 2.4rem 0;
  font-size: 1.4rem;
  letter-spacing: 0.075rem;
  font-weight: 500;
  color: #888;
}

.featured-logo {
  height: 3rem;
  filter: brightness(0);
  opacity: 50%;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* *******************  COMMENTE  *******************

-------------------HOW IT WORSK-------------------

*******************  COMMENTE  ******************* */

.section-how {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem 4.8rem;
}

.left-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 5rem;
}

.right-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 5rem;
}

.step-img {
  /* height: 40rem; */
  text-align: center;
  width: 45%;
}

.step-img-box {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  justify-content: center;
}

.step-img-box::after,
.step-img-box::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::after {
  background-color: #fdf2e9;
  padding: 38% 38%;
  z-index: -2;
}

.step-img-box::before {
  background-color: #fae5d3;
  padding: 28% 28%;
  z-index: -1;
}
.step-number {
  font-size: 8.6rem;
  color: #ced4da;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

/* .apphead {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0 0 3.2rem 0;
  color: #333;
} */

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* *******************  COMMENTE  *******************

-------------------SECTION MEALS-------------------

*******************  COMMENTE  ******************* */
.section-meals {
  padding: 9.6rem 0;
}

.text-center {
  text-align: center;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.085);
  border-radius: 1.3rem;
  overflow: hidden;
  transition: all 0.3s;
}

.meals:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.meal-img {
  width: 100%;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #51cf66;
  color: #333;
  border-radius: 10rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
}

.tag-vegan {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #94d82d;
  color: #333;
  border-radius: 10rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
}

.tag-paleo {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #ffd43b;
  color: #333;
  border-radius: 10rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  margin-left: 0.3rem;
}

.meal-title {
  padding: 1.2rem 0 3.2rem 0;
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
}

.meal-atributes {
  font-size: 1.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.atribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.meals-head-list {
  font-size: 3rem;
  letter-spacing: -0.05rem;
  margin: 0 0 3.2rem 0;
  color: #333;
}

.list-icon {
  width: 3rem;
  height: 3rem;
}

.all-recipes {
  font-size: 1.8rem;
  margin-top: 4.8rem;
  text-align: center;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/* *******************  COMMENTE  *******************

-------------------SECTION TESTIMONIALS-------------------

*******************  COMMENTE  ******************* */

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 9.6rem;
  background-color: #fdf2e9;
  align-items: center;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonials-container {
  padding: 9.6rem 0 9.6rem 9.6rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #8c8c8c;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: fit-content;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-right: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: fit-content;

  
} */

/* *******************  COMMENTE  *******************

-------------------SECTION PRICING-------------------

*******************  COMMENTE  ******************* */
.section-pricing {
  padding: 9.6rem 0;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.pricing-plan {
  border-radius: 1.3rem;
  padding: 4.6rem;
  width: 75%;
}
.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #f8e2d0;
  padding: 4.6rem;
}
.pricing-plan--complete {
  background-color: #fdf2e9;
  position: relative;
  padding: 4.8rem;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "best value";
  position: absolute;
  font-size: 1.4rem;
  font-weight: 700;
  top: 6%;
  right: -18%;
  color: #333;
  background-color: #ffd43b;
  text-transform: uppercase;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.plan-name {
  color: #cf711f;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-signup {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-detail {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}

.feature-icon {
  color: #e67e22;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* *******************  COMMENTE  *******************

-------------------SECTION CTA-------------------

*******************  COMMENTE  ******************* */
.section-CTA {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.14);
  border-radius: 13px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}
.cta-text-box {
  padding: 3.2rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta-text-box .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
form input,
form select {
  width: 100%;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
  background-color: #fdf2e9;
  font-family: inherit;
  color: inherit;
  font-size: 1.8rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
form input::placeholder {
  color: #aaa;
}
form :focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* *******************  COMMENTE  *******************

-------------------FOOTER-------------------

*******************  COMMENTE  ******************* */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.contacts {
  font-size: 1.6rem;
  line-height: 1.6;
  font-style: normal;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}
